html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

dialog {
    text-align: center;
}

canvas.fullscreen {
    width: 100vw;
    height: 100vh;
}

.center {
    width: 4%;
    position: absolute;
    top: 46%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.noCursor {
    cursor: none;
}