@import url('https://fonts.googleapis.com/css2?family=Coda+Caption&family=Righteous&family=VT323&display=swap');
html,
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: crosshair;
    font-family: Arial, Helvetica, sans-serif;
    background: url("./Images/Backgrounds/TitlescreenAnimated.gif");
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 6rem;
    font-family: 'Righteous', cursive;
    background: -webkit-linear-gradient(rgb(252, 228, 139), rgb(235, 96, 219));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    -moz-text-shadow: 2px 2px 2px rgb(0, 0, 0);
    -ms-text-shadow: 2px 2px 2px rgb(0, 0, 0);
    -o-text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

em {
    font-style: normal;
    font-weight: bold;
}

p {
    margin: 1rem;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    -moz-text-shadow: 2px 2px 2px rgb(0, 0, 0);
    -ms-text-shadow: 2px 2px 2px rgb(0, 0, 0);
    -o-text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

i {
    color: rgb(147, 249, 249);
}

dialog {
    text-align: center;
    border: none;
    background-color: transparent;
}

canvas.fullscreen {
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none;
}

#vui {
    background-color: transparent
}

#bulletVui>input[type="text"] {
    font-family: 'VT323', monospace;
    font-size: 5rem;
    font-weight: bold;
    border: none;
    background: transparent;
    color: white;
    text-shadow: 2px 2px black;
    width: 70px;
}

#bulletVui {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: min-content;
}

#bulletVui>img {
    height: 35px;
    margin: 10px;
}

#multiplierVui {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: min-content;
}

#multiplierVui>input {
    font-family: 'Helvetica', sans-serif;
    background-color: transparent;
    border: none;
    color: rgb(194, 0, 16);
    font-size: 4em;
    width: .6em;
    text-shadow: 2px 2px rgb(33, 33, 33);
    font-weight: bolder;
}

#multiplierVui>p {
    font-family: 'Helvetica', sans-serif;
    color: rgb(194, 0, 16);
    font-size: 4em;
    width: .2em;
    text-shadow: 2px 2px rgb(33, 33, 33);
    font-weight: bolder;
}

#pointVui {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3rem;
    color: white;
}

#pointVui>input {
    background-color: transparent;
    border: none;
    font-size: 4em;
    font-family: 'Righteous', cursive;
    background: -webkit-linear-gradient(rgb(240, 198, 47), rgb(247, 51, 224));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 2px rgba(14, 14, 14, 0.909);
    filter: drop-shadow(4px 4px rgb(41, 41, 41));
    text-align: right;
    margin-right: 5rem;
    width: 200px;
}

.pointPop {
    font-family: 'Righteous', sans-serif;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, rgb(255, 233, 154), rgb(247, 51, 224), rgb(253, 220, 99));
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 1px rgba(28, 28, 28, 0.909);
    filter: drop-shadow(3px 3px rgb(44, 44, 44));
    text-align: center;
    font-size: 1.8em;
    animation: shine .85s linear infinite, appear .45s ease-in-out forwards;
    opacity: 0.5;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes appear {
    to {
        opacity: 100;
        font-size: 3em;
    }
}